* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: SegoeRegular;
  src: url(../fonts/segoeui.ttf);
}

@font-face {
  font-family: SegoeBold;
  src: url(../fonts/segoeuib.ttf);
}

@font-face {
  font-family: SegoeItalic;
  src: url(../fonts/segoeuii.ttf);
}

@font-face {
  font-family: SegoeLight;
  src: url(../fonts/segoeuil.ttf);
}

@font-face {
  font-family: SegoeLimelight;
  src: url(../fonts/segoeuisl.ttf);
}

@font-face {
  font-family: SegoeBoldItalic;
  src: url(../fonts/segoeuiz.ttf);
}

@font-face {
  font-family: SegoeBlack;
  src: url(../fonts/seguibl.ttf);
}

@font-face {
  font-family: SegoeBlackItalic;
  src: url(../fonts/seguibli.ttf);
}

@font-face {
  font-family: SegoeLightItalic;
  src: url(../fonts/seguili.ttf);
}

@font-face {
  font-family: SegoeSemibold;
  src: url(../fonts/seguisb.ttf);
}

@font-face {
  font-family: SegoeSemiboldItalic;
  src: url(../fonts/seguisbi.ttf);
}

@font-face {
  font-family: SegoeSemilightItalic;
  src: url(../fonts/seguisli.ttf);
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding-left: 30px;
  align-items: flex-end;
}

.logo img {
  height: 68px;
  width: 68px;
}

.logo p {
  font-family: SegoeRegular;
  font-size: 12px;
  margin-left: 55px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: SegoeRegular;
  font-size: 16px;
  justify-content: right;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account img {
  height: 40px;
  width: 40px;
  margin-left: 13px;
}

.account p {
  margin: auto 0;
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart img {
  height: 40px;
  width: 40px;
}

.shopping-cart p {
  margin: auto 0;
}

.searchbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#email {
  border: 2px solid #707070;
  background-color: #587C83;
  opacity: 35%;
  height: 45px;
  width: 300px;
}

.searchbar img {
  height: 25px;
  margin-left: 13px;
}

::placeholder {
  color: black;
}

.hero-pic {
  background-image: url("../images/home-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.hero-catchphrase {
  padding-top: 180px;
}

.hero-catchphrase h2 {
  font-family: SegoeBold;
  color: white;
  padding-left: 1150px;
  font-size: 30px;
}

.hero-catchphrase p {
  font-family: SegoeRegular;
  padding-left: 1150px;
  font-size: 12px;
  color: white;
}

.featured-books {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.book {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  margin-top: 45px;
}

.american-classic {
  background-image: url("../images/to-kill-a-mockingbird.jpg");
}

.memoir {
  background-image: url("../images/becoming.jpg");
}

.horror {
  background-image: url("../images/firestarter.jpg");
}

.book-description-price {
  padding-top: 340px;
}

.book-description-price p {
  font-family: SegoeRegular;
}

.book-description-price h2 {
  font-family: SegoeBold;
}

.add-to-cart-button {
  background-color: white;
  border-color: 2px solid #000000;
  height: 80px;
  width: 213px;
  font-family: SegoeBold;
  margin-right: 420px;
}

.about-title {
  display: flex;
  flex-flow: ;

}

.about-title h2 {
  font-family: SegoeBold;

}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #587C83;
  height: 45px;
  font-size: 20px;
  margin-top: 500px;
}

.footer p {
  font-family: SegoeRegular;
  font-size: 14px;
  color: azure;
}

.social-media img {
  height: 25px;
}

/*# sourceMappingURL=styles.css.map */
