.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 158px;
  padding-left: 40px;
  padding-right: 40px;

  .hero-pic {
    width: 1500px;
    background-image: url("../images/home-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;

    .small-res-photo {
      display: none;
    }

    .hero-catchphrase {
      position:absolute;
      right: 182px;
      top: 196px;

      h2 {
        font-family: SegoeBold;
        color: white;
        font-size: 30px;
        width: 265px;
      }

      p {
        font-family: SegoeRegular;
        font-size: 12px;
        color: white;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    margin-top: 88px;
    padding-left: 20px;
    padding-right: 20px;

    .hero-pic {
      height: 329px;
      background-image: none;
      background-color: $site-teal;

      .small-res-photo {
        display: block;
        position: absolute;
        top: 74px;
        left: 72px;
      }

      .hero-catchphrase{
        right: -108px;
        top: 108px;
        h2 {
          font-size: 12px;
        }

        p {
          font-size: 7px;
        }
      }
    }
  }
}

@media screen and (max-width: 566px){
  .hero-container {
    margin-top: 55px;
    .hero-pic {
      height: 193px;

      .small-res-photo {
        width: 116px;
        height: 77px;
        top: 56px;
        left: 29px;
      }

      .hero-catchphrase {
        top: 56px;
        right: -138px;
      }
    }
  }
}
  
  