.about-content {
    width: 100%;
    display: flex;
    justify-content: center;

    p.about-header {
        font-family: SegoeBold;
        font-size: 32px;
    }

    .about-section {
        width: 1500px;
    }

}