.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 291px;

    .about-section {
        width: 1500px;
        //min-height: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 170px;


        .about-photo {
            width: 393px;
            height: 587px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
            }
        }

        .about-section-content {
            width: 1000px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .about-header {
                font-family: SegoeBold;
                font-size: 32px;
                text-align: center;
                margin: 0;
            }

            .about-section-subtitle {
                font-family: SegoeBold;
                font-size: 26px;
                margin-bottom: 0;
                margin-top: 40px;
            }

            .about-section-body {
                font-family: SegoeBold;
                font-size: 16px;
                margin-top: 61px;
            }
        }
    }

}

@media screen and (max-width: 1620px){
    .about-content {
        margin-bottom: 109px;
        .about-section{
            width: 647px;
            margin-top: 61px;
            .about-photo {
                width: 208px;
                height: 343px;
                img {
                    
                }
            }

            .about-section-content {
                width: 355px;
                .about-header {
                    font-size: 12px;
                }

                .about-section-subtitle {
                    font-size: 8px;
                }

                .about-section-body {
                    font-size: 11px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .about-content {
        //margin-bottom: 162px;
        .about-section{
            width: 287px;
            margin-top: 61px;
            .about-photo {
                width: 73px;
                height: 132px;
            }

            .about-section-content {
                width: 197px;
                .about-header {
                    font-size: 6px;
                }

                .about-section-subtitle {
                    font-size: 6px;
                    margin-top: 16px;
                }

                .about-section-body {
                    font-size: 6px;
                    margin-top: 16px;
                }
            }
        }
    }
}